*, 
*::before, 
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #fcfcfc;
    color: #0e0e0e;
    position: relative;
    z-index: 0;
}
h1,h2,h3,h4{
    font-weight: 500;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
li{
    list-style: none;
}
.container{
    max-width: 114rem;
    margin: 0 auto;
}
@media only screen and (max-width: 1200px){
    .container{
        padding: 0 3rem;
    }
}
.header{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    z-index: 1;
}
.header img{
    position: absolute;
    right: 5%;
    bottom: 0;
    width: 60rem;
    z-index: -1;
}
@media only screen and (max-width: 996px){
    .header{
        min-height: 60vh;
    }
    .header img{
        width: 50rem;
    }
}
@media only screen and (max-width: 768px){
    .header img{
        width: 40rem;
    }
}
@media only screen and (max-width: 567px){
    .header{
        min-height: 100vh;
    }
    .header img{
        width: 35rem;
    }
}
.nav{
    padding: 1.6rem 0;
    color: #fcfcfc;
}
.nav.fix-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2173d1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 999;
}
.top-nav{
    display: none;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h1{
    font-size: 2.5rem;
    color: #fcfcfc;
}
.logo h1 span{
    font-weight: bold;
    color: #2173d1;
}
.nav-list{
    display: flex;
    align-items: center;
}
.nav-item:not(:last-child){
    margin-right: .5rem;
}
.nav-link:link, .nav-link:visited{
    color: #fcfcfc;
    padding: .8rem 1rem;
    transition: all 300ms ease-in-out;
}
.nav-link:hover{
    border-radius: .3rem;
    background-color: #2173d1;
}
.hamburger{
    display: none;
}
@media only screen and (max-width: 768px) {
    .menu {
      position: fixed;
      top: 0;
      left: -100%;
      width: 80%;
      max-width: 40rem;
      height: 100%;
      background-color: #fff;
      transition: all 500ms ease-in-out;
      z-index: 100;
    }
  
    .menu.show {
      left: 0;
    }
  
    .top-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #2173d1;
      padding: 1rem 1.6rem;
    }
  
    .top-nav .logo span {
      color: #fff;
    }
  
    .top-nav .close {
      color: #fff;
      font-size: 2.3rem;
      padding: 1rem;
      cursor: pointer;
    }
  
    .hamburger {
      display: block;
      color: #fff;
      font-size: 2.3rem;
      padding: 0.5rem;
      cursor: pointer;
    }
  
    .nav-link:link,
    .nav-link:visited {
      display: block;
      font-size: 1.7rem;
      color: #222;
      padding: 1rem 0;
    }
  
    .nav-list {
      flex-direction: column;
      align-items: start;
      padding: 1rem 1.6rem;
    }
  
    body.show::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 1;
    }
  
    .nav.show {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
.hero{
    position: absolute;
    top: 50%;
    transform: translate(25%, -50%);
    color: #fcfcfc;
}
.hero h3 {
    font-weight: 400;
}
  
.hero h1 {
    font-size: 4.5rem;
}  
.hero h4 {
    font-size: 2rem;
}
.hero h4 span {
    color: #4e98ec;
    text-decoration: underline;
}
.hero a:link,
.hero a:visited{
    display: inline-block;
    padding: .8rem 2.5rem;
    border: 1px solid #2173d1;
    background-color: #2173d1;
    border-radius: 10px;
    color: #fcfcfc;
    margin-top: 2rem;
}
.hero a:hover{
    background-color: transparent;
}
@media only screen and (max-width: 996px){
    .hero {
        transform: translate(10%, -50%);
    }
}
@media only screen and (max-width: 768px){
    .hero h1{
        font-size: 4rem;
    }
}
@media only screen and (max-width: 567px){
    .hero {
        top: 35%;
    }
    .hero h3{
        font-size: 1.6rem;
    }
    .hero h1{
        font-size: 3rem;
    }
    .hero h4{
        font-size: 1.6rem;
    }
}
.icons{
    position: absolute;
    bottom: 5%;
    left: 10%;
    color: #fcfcfc;
}
.icons span:not(:last-child){
    margin-right: 1rem;
}
.icons span{
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.icons span:hover{
    color: #2173d1;
}
a{
    color: #fcfcfc;
    transition: all 300ms ease-in-out;
}
a:hover{
    color: #2173d1;
}
@media only screen and (max-width: 567px){
    .icons{
        position: absolute;
    }
}
.section{
    padding: 5rem 0 7rem 0;
    overflow-x: hidden;
}
.about{
    margin-top: 5rem;
}
.title{
    margin: 4rem 0 7rem 0;
    text-align: center;
}
.title h1{
    font-size: 3rem;
    display: inline-block;
    position: relative;
    z-index: 0;
}
.title h1::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -20%;
    transform: translate(-50%, -50%);
    background-color: #2173d1;
    width: 50%;
    height: .4rem;
    z-index: 1;
}
.about-center{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 3rem 4rem;
}
.left img{
    height: 40rem;
    max-width: 35rem;
    object-fit: cover;
}
.right h1{
    margin-bottom: 2rem;
}
.right p{
    line-height: 2;
    margin-bottom: 2rem;
    color: #333;
}
.right h1 span{
    color: #2173d1;
}
a.btn{
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #2173d1;
    color: #fcfcfc;
    border-radius: 10px;
    border: 2px solid #2173d1;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 300ms ease-out;
}
a.btn:hover{
    transform: translateY(-3px);
    background-color: transparent;
    color: #2173d1;
}
a.btn:active{
    transform: translateY(0);
}
@media only screen and (max-width: 996px){
    .right h1{
        font-size: 2rem;
    }
    .right p{
        font-size: 1.5rem;
    }
    a.btn{
        padding: .7rem 1.8rem;
    }
    .left img{
        height: 40rem;
        max-width: 25rem;
    }
}

@media only screen and (max-width: 768px){
    .about-center{
        grid-template-columns: 1fr;
        gap: 3rem 0;
    }
    .left{
        text-align: center;
    }
    .left img{
        height: 40rem;
        max-width: 90%;
    }
}
.theme{
    background-color: #161616;
}
.theme .title{
    color: #fcfcfc;
}
.services-center{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
}
.service{
    color: #fcfcfc;
    background-color: rgb(32, 32, 32);
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
    transition: all 300ms ease-in-out;
}
.service span{
    color: #2173d1;
    font-size: 4rem;
    transition: all 300ms ease-in-out;
}
.service h2{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.service p{
    font-size: 1.4rem;
    color: #f0f0f0;
}
.service:hover{
    border-bottom: 4px solid #fcfcfc;
    background-color: #2173d1;
}
.service:hover span{
    color: #fcfcfc;
}
.skills-box:not(:last-child){
    margin-bottom: 2rem;
}
.skills-box h4{
    font-size: 1.8rem;
    color: rgb(73, 73, 73);
    font-weight: 500;
}
.skills-box .skills-ilt{
    width: 100%;
    position: relative;
    height: .4rem;
    background-color: #ccc;
    border-radius: .5rem;
}
.skills-box .skills-bar{
    background-color: #2173d1;
    height: .4rem;
}
.skills-box .html{
    width: 90%;
}
.skills-box .css{
    width: 60%;
}
.skills-box .lod{
    width: 95%;
}
.skills-box .uid{
    width: 70%;
}
.skills-box .icd{
    width: 86%;
}
.skills-box .msq{
    width: 91%;
}
.skills-box .pod{
    width: 75%;
}
.skills-box span{
    position: absolute;
    bottom: 10%;
    right: 0;
    font-size: 1.4rem;
}
.skills-center{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
}
.right h3{
    margin-bottom: 1rem;
}
.right p{
    margin-bottom: 2rem;
}
@media only screen and (max-width: 768px) {
    .skills-center{
        grid-template-columns: 1fr;
    }
}
.team{
    height: 350px;
    color: #fcfcfc;
    background-color: #222;
    padding: 3rem;
    text-align: center;
    border-radius: 1rem;
    border-bottom: 4px solid transparent;
    transition: all 300ms ease-in-out;
}
.team .img-cover{
    overflow: hidden;
    border-radius: 100%;
    border: 4px solid #2173d1;
    height: 13rem;
    width: 13rem;
    margin: 0 auto;
    transition: all 300ms ease-in-out;
}
.team .img-cover img{
    height: 100%;
    object-fit: cover;
}
.team h3{
    font-size: 1.6rem;
    margin: 1rem 0;
}
.team p{
    font-size: 1.5rem;
    color: #ccc;
    width: 80%;
    margin: 0 auto 1rem auto;
}
.team:hover{
    border-bottom: 4px solid #fcfcfc;
    background-color: #2173d1;
}
.team:hover .img-cover{
    border-color: #fcfcfc;
}
.contact-center{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}
.left h2{
    font-size: 2rem;
}
.left p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.left div{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}
.left div .content{
    text-align: left;
}
.left .icon{
    margin-right: 2rem;
    font-size: 2.3rem;
    color: #2173d1;
}
.form h2{
    margin-bottom: 1rem;
    font-size: 2rem;
}
.form input,
.form textarea{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    padding: 1rem 0;
    text-indent: 1rem;
    border: 1px solid;
    border-radius: .5rem;
    margin-bottom: 1rem;
    width: 100%;
    outline: none;
}
.form textarea{
    max-width: 55.5rem;
    height: 16rem;
    margin-bottom: 3rem;
}
@media only screen and (max-width:768px){
    .contact-center{
        grid-template-columns: 1fr;
    }
    .contact-center .left{
        text-align: left;
    }
    .left div .content h3{
        font-size: 1.6rem;
    }
    .left div .content span{
        font-size: 1.5rem;
    }
}
footer{
    background-color: #161616;
    padding: 1.6rem 1rem;
    text-align: center;
}
footer p{
    color: #fcfcfc;
}
footer p span{
    color: #2173d1;
}
.send{
    color: #fcfcfc;
    background-color: #2173d1;
    outline: none;
    border: none;
    width: 10rem;
    height: 4rem;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    font-size: 1.4rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 300ms ease-out;
}
.send:hover{
    color: #2173d1;
    background-color: transparent;
    border: 2px solid #2173d1;
}
